<p id="notice"><%= notice %></p>

<h1>Screens</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th>Order</th>
      <th>Bgcolor</th>
      <th>Bgimage</th>
      <th>Display</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @screens.each do |screen| %>
      <tr>
        <td><%= screen.name %></td>
        <td><%= screen.active %></td>
        <td><%= screen.order %></td>
        <td><%= screen.bgcolor %></td>
        <td><%= screen.bgimage %></td>
        <td><%= screen.display %></td>
        <td><%= link_to 'Show', screen %></td>
        <td><%= link_to 'Edit', edit_screen_path(screen) %></td>
        <td><%= link_to 'Destroy', screen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Screen', new_screen_path %>
