 <% if carte_component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carte_component.errors.count, "error") %> prohibited this meat_type from being saved:</h2>

      <ul>
      <% carte_component.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= option %></h4>
  </div>
 <div class="panel-body">
<%= form_for(carte_component) do |f| %>
  

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description , class: 'form-control'%>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
 </div>
 </div>