<h1 class="display-3 text-center">All Displays</h1>
<p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

<div class="float-right align-items-center my-1 mr-3">

  <%=link_to " " , new_display_path, 'data-toggle' => "tooltip", :title => "New Display", :class => "fa fa-plus btn btn-success btn-sm " %>
  
</div>

<div class="container">
  <table class="table table-striped">
    <thead class="table-primary">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Order</th>
        <th scope="col">Resolution</th>
        <th scope="col">Active</th>
        
        <th scope="col" colspan="2"></th>
      </tr>
    </thead>
    <tbody>


  <tbody>
    <%  @displays.each do |display| %>
      <tr>
        <td><%= link_to display.name, display %></td>
        <td><%= display.order %></td>
        <td><%= display.resolution %></td>
        <td class="text-center"><% if display.active == true %> 
              <i class="fa fa-check text-success"> </i>
            <% else %>
            <i class="fa fa-minus text-danger"> </i>
            <% end %>
        </td>
        
        <td><%= link_to '', edit_display_path(display),  'data-toggle' => "tooltip", :title => "Edit Display", :class => "fa fa-edit " %></td>
        <td><%= link_to '', display_path(display), method: :delete,  data: { confirm: 'Are you sure?' } , 'data-toggle' => "tooltip", :title => "Delete Display", :class => "fa fa-times danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


