<h1 class="display-3 text-center">All Pages</h1>
<p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

<div class="float-right align-items-center my-1 mr-3">

  <%=link_to " " , new_page_path, 'data-toggle' => "tooltip", :title => "New page", :class => "fa fa-plus btn btn-success btn-sm " %>
  
</div>

<div class="container">
  <table class="table table-striped">
    <thead class="table-primary">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Order</th>
        <th scope="col">BgColor</th>
        <th scope="col">Displayed on</th>
        <th scope="col">Active</th>
        
        <th scope="col" colspan="2"></th>
      </tr>
    </thead>
    <tbody>


  <tbody>
    <%  @pages.each do |page| %>
      <tr>
        <td><%= link_to page.name, page %></td>
        <td><%= page.order %></td>
        <td><%= page.bgcolor %></td>
        <td><%= page.screen.name%></td>
        <td class="text-center"><% if page.active == true %> 
              <i class="fa fa-check text-success"> </i>
            <% else %>
            <i class="fa fa-minus text-danger"> </i>
            <% end %>
        </td>
        
        <td><%= link_to '', edit_page_path(page),  'data-toggle' => "tooltip", :title => "Edit Display", :class => "fa fa-edit " %></td>
        <td><%= link_to '', page_path(page), method: :delete,  data: { confirm: 'Are you sure?' } , 'data-toggle' => "tooltip", :title => "Delete Display", :class => "fa fa-times danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p id="notice"><%= notice %></p>

